.content {
    width: 1020px;
    height: 480px;
    margin: 10px auto 0 auto;
}

.content .content-left {
    /* display: inline-block; */
    float: left;
}

.content .content-left img{
    height: 400px;
    border: 1px solid #eee;
}